
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,300;1,400;1,500;1,600;1,700&family=Orbitron:wght@400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Rowdies:wght@300;400;700&family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{ /* *stands for all the elements */
	font-family: 'Josefin Sans', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}


header {
	background-color: #FFFFFF;
	width: 100%;
	position: fixed;
	z-index: 999;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 200px;
}


.logo{
	font-family: 'Orbitron', sans-serif;
	text-decoration: none;
	color: #F12195 ;
	font-size: 1.8em;
	font-weight: 800;
}


.navigation a{
	text-decoration: none;
	color: #F12195;
	font-size: 0.8em;
	font-weight: 800;
	padding-left: 30px;
	font-family: 'Orbitron', sans-serif;
}

.navigation a:hover{
	color: #C5C4CE;
}

.social-icons a{
	padding-inline-end: 20px;
	padding-right: 15px;
}


section{
	padding: 80px 200px;
}


.main{
	width: 100%;
	min-height: 120vh;
	display: flex;
	align-items: center;
	background: url(images/background.png) no-repeat;
	background-size: cover;
	background-position: center top;
}

.main h2{
	color: #242424;
	font-size: 1.3em;
	font-weight: 600;
}
.main h2 span{
	display: inline-block;
	margin-top: 10px;
	color: #F12195 ;
	font-size: 3em;
	font-weight: 900;
	text-shadow: 5px 5px 5px rgba(1, 1, 1, 20%);
}

.main h3{
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #242424;
	font-size: 1.3em;
	font-weight: 600;
}

.main-btn{
	color: #FFFFFF;
	background-color: #F12195;
	text-decoration: none;
	font-size: 1.1em;
	font-weight: 600;
	display: inline-block;
	padding: 0.5375em 1.1875em;
	letter-spacing: 0.1em;
	border-radius: 15px;
	margin-bottom: 10px;
	transition: 0.7s ease;
}

.main-btn:hover{
	background-color: #DF0079;
	transform: scale(1.1);
}

.wrapper {
    display: inline;
    align-items: center;
    justify-content: center;
}

.containeri {
    height: 200px;/*don't touch*/
	width: 450px;
    display: flex;
    justify-content: start;
}

.cardi {
    width: 120px;
	height: 50px;
	background-color: #F12195;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 1px;
	opacity: 0.8;
    display: flex;
    align-items: center;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}

.cardi > .row {
    color: white;
    display: flex;
	align-items: center;
}

.cardi > .row > .titlei {
    color: white;
	font-size: 1em;
	font-weight: 700;
    border-radius: 50%;
    width: 90px;/*don't touch*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
	padding: auto;
}

.cardi > .row > .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 170px;
    width: 330px;
	line-height: 1.2em;
    opacity: 0;
	padding: auto;
    transform: translateZ(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.description p {
    color: #ccccd6;
    padding-top: 5px;
}

.description h4 {
    text-transform: uppercase;

}

input {
    display: none;
}
input:checked + label {
	height: 200px;
	width: 550px;
}
/*input:checked + label {
    height: 200px;
	width: 450px;
}*/

input:checked + label .description {
    opacity: 1 !important;
    transform: translateZ(0) !important;
}

.title {
	font-family: 'Orbitron', sans-serif;
	display: flex;
	justify-content: center;
	color: #F12195;
	font-size: 2em;
	font-weight: 800;
	margin-bottom: 30px;
	text-shadow: 0px 5px 5px rgba(1, 1, 1, 10%);
}

.content{
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
}


.card{
	background-color: #ffffff;
	width: 21.25em;
	box-shadow: 0 5px 25px rgba(1, 1, 1, 15%);
	border-radius: 10px;
	padding: 25px;
	margin: 20px;
	transition: 0.7s ease;
}

.card:hover{
	transform: scale(1.1);
}

.icon{
	color: #F12195 ;
	font-size: 8em;
	text-align: center;
}

.info{
	text-align: center;
	line-height: 1.7em;
}

.info h3{
	color: #F12195;
	font-size: 1.8em;
	font-weight: 800;
	margin: 10px;
}

.info p{
	color:#242424 ;
	font-weight: 500;
	font-size: 1em;
}


.projects .content {
	margin-top: 30px;
	display: flex;
	justify-content: center;
	flex-direction:column;
	flex-wrap: wrap;
}

.project-card {
	background-color: #ffffff;
	box-shadow: 0 5px 25px rgba(235, 33, 168, 0.37);
	border-radius: 10px;
	min-height: 14em;
	width: 20em;
	overflow: hidden;
	margin: 20px;
	padding-bottom: 0;
	transition: 0.7s ease;
}

.project-card:hover{
	transform: scale(1.1);
}

.project-image img{
	width: 100%;
}

.project-info{
	padding: 1em;
}
.project-category{
	font-size: 0.9em;
	color: #242424;
 }

.project-title {
	display: flex;
	justify-content: space-between;
	font-weight: 900;
	margin-top: 10px;
 }

.project-title .solidworks {
	background: linear-gradient(90deg, #ff0000, #ffa41b);
	width: fit-content;
	background-clip: text;
	color: transparent;
}

.project-title .catia {
	background: linear-gradient(90deg, #1100ff, #0097fc);
	width: fit-content;
	background-clip: text;
	color: transparent;
}

.project-title .more-details {
	text-decoration: none;
	color: #242424;
 }
.project-title .more-details:hover {
	color: #F12195;
 }

.cards a {
	text-decoration: none;
	 }

.card-contact {
	width: 600px;
	height: 250px;
	background: #ffffff;
	padding: 2px 1.5rem;
	transition: box-shadow .3s ease, transform .2s ease;
	box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
	padding: 20px;
	}	 

.card-avatar {
	--size: 60px;
	background: linear-gradient(to top, #DF0079 0%, #f77cbf 100%);
	width: var(--size);
	height: var(--size);
	border-radius: 50%;
	transition: transform .2s ease;
	margin:auto;
}

.card-avatar:hover {
	transform: scale(1.1);
   }

.card-contact:hover .card-info {
	transform: translateY(-5%);
   }

.card-social {
	transform: translateY(200%);
	display: flex;
	justify-content: space-around;
	width: 100%;
	opacity: 0;
	transition: transform .2s ease, opacity .2s ease;
	}

.card-contact:hover .card-social {
	transform: translateY(100%);
	opacity: 1;
	}

.card-social__item {
	list-style: none;
	}

.card-social__item a{
	display: block;
	font-size: 1.5em;
	height: 22px;
	width: 22px;
	color: #F12195;
	cursor: pointer;
	transition: fill 0.2s ease ,transform 0.2s ease;
	}

.card-social__item a:hover {
	color: #ccccd6;
	transform: scale(1.1);
   }


 .end {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px 0;
 	}

.footer {
	background-color: #DF0079;
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 5px;
	color: #ffffff;
	}

 @media (max-width: 1023px) {

	header {
		padding: 10px 50px;
	}

	.logo {
		font-size: 20px;
	}
	section{
		padding: 50px 50px;
	}
	.main{
		background: url(images/smallbackground.png) no-repeat;
		background-size: cover;
		background-position: center top;
	}
	.main h2 {
		font-size: 1.4em;
	}
	.main h3 {
		font-size: 1.4em;
	}
	.main h2 span{
		font-size: 1.8em;
	}
	.navigation {
		font-size:10px;
		padding: 5px 5px;
	}
	.navigation a {
		font-size: 10px;
		padding: 5px 5px;
	}
	.social-icons {
		font-size: 10px;
	}
	.card-avatar {
		--size: 40px;
	}
	.card-social__item a{
		font-size: 15px;
	}
	.card-info{
		font-size: 0.8em;
	}
	.end {
		font-size: 15px;
		padding: 30px 0;
	}

	.footer {
		padding: 15px 50px;
	}

	.footer-title {
		font-size: 10px;
	}

}

@media (max-width:641px){
	header {
		padding: 10px 30px;
	}
	.main{
		width: 100%;
		min-height: 100vh;
		display: flex;
		align-items: center;
		background: url(images/smallbackground.png) no-repeat;
		background-size: cover;
		background-position: center top;
	}
	.main h2 {
		font-size: 1.2em;
	}
	.main h3 {
		font-size: 1.2em;
	}
	.main h2 span{
		font-size: 1.4em;
	}
	.navigation {
		font-size: 8px;
		padding: 5px 5px;
	}
	.navigation a {
		font-size: 10px;
		padding: 5px 5px;
	}
	.social-icons a{
		font-size: 10px;
	}
	.logo{
		font-size: 15px;
	}
	.card-avatar {
		--size: 30px;
	}
	.card-social__item a{
		font-size: 14px;
	}
	.card-info{
		font-size: 0.7em;
	}
	.footer{
		padding: 5px ;
	}
	.footer-title {
		font-size: 10px;
	}
}

@media (max-width:500px){
	header {
		padding: 10px 20px;
	}
	.main{
		width: 100%;
		min-height: 100vh;
		display: flex;
		align-items: center;
		background: url(images/smallerbackground.png) no-repeat;
		background-size: cover;
		background-position: center top;
		padding: 0 15px;
	
	}
	.main h2 {
		font-size: 0.9em;
		font-weight: 800;
	}
	.main h3 {
		font-size: 0.9em;
		font-weight: 800;
	}
	.main h2 span{
		font-size: 1.5em;
		font-weight: 900;
		text-shadow: 5px 5px 5px rgba(255, 255, 255, 0.541);
	}
	.main-btn{
		font-size: 0.7em;
	}
	.navigation {
		font-size: 7px;
		padding: 4px;
	}
	.navigation a {
		font-size: 7px;
		padding: 4px ;
	}
	.social-icons a{
		font-size: 7px;
		padding: 2px;
	}
	.logo{
		font-size: 10px;
	}
	.cards{
		padding: 20px;
		margin: 2px;
	}
	.title {
		font-size: 1.5em;
		font-weight: 800;
		margin-bottom: 20px;
	}
	
	.icon{
		font-size: 5em;
	}
	.info h3{
		font-size: 1.4em;
		margin: 10px;
	}
	
	.info p{
		font-size: 1em;
	}
	.card-avatar {
		--size: 20px;
	}
	.card-social__item a{
		font-size: 10px;
	}
	.card-info{
		font-size: 0.5em;
	}
	.footer {
		font-size: 10px;
	}

}