
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,300;1,400;1,500;1,600;1,700&family=Orbitron:wght@400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Rowdies:wght@300;400;700&family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{ /* *stands for all the elements */
	font-family: 'Josefin Sans', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}


header {
	background-color: #FFFFFF;
	width: 100%;
	position: fixed;
	z-index: 999;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 200px;
}

.logo{
	font-family: 'Orbitron', sans-serif;
	text-decoration: none;
	color: #F12195 ;
	font-size: 1.8em;
	font-weight: 800;
}

.navigation a{
	text-decoration: none;
	color: #F12195;
	font-size: 0.8em;
	font-weight: 800;
	padding-left: 30px;
	font-family: 'Orbitron', sans-serif;
}

.navigation a:hover{
	color: #C5C4CE;
}

.social-icons a{
	padding-inline-end: 20px;
	padding-right: 15px;
}


section{
	padding: 100px 200px;
}

.title {
	font-family: 'Orbitron', sans-serif;
	display: flex;
	justify-content: center;
	color: #F12195;
	font-size: 1.5em;
	font-weight: 900;
	margin-bottom: 20px;
	text-shadow: 0px 5px 5px rgba(1, 1, 1, 10%);
}


.solidworks {
	background: linear-gradient(90deg, #ff0000, #ffa41b);
	width: fit-content;
	background-clip: text;
	color: transparent;
}

.catia {
	background: linear-gradient(90deg, #1100ff, #0097fc);
	width: fit-content;
	background-clip: text;
	color: transparent;
    font-weight: 800 ;
}

ul span {
	color: #970857;
	font-weight: 600;
}

ul {
	
	line-height: 1.5em;
	text-align: justify;
	padding: 0;
	margin: 0;
	word-spacing: 0;
}
.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.container img {
    width: 100%;
    height: auto;
}
.alone img{
	width: 90%;
	height: auto;
}
.end {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 100px;
	margin: 10px 150px;
	line-height: 1.5em;
	word-spacing: 0;
 }

 .footer {
	background-color: #DF0079;
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 5px;
	color: #ffffff;
 }

 @media (max-width: 1023px) {

	header {
		padding: 10px 50px;
	}

	.logo {
		font-size: 20px;
	}
	section{
		padding: 50px 50px;
	}
	.navigation {
		font-size:10px;
		padding: 5px 5px;
	}
	.navigation a {
		font-size: 10px;
		padding: 5px 5px;
	}
	.social-icons {
		font-size: 10px;
	}
	.end {
		font-size: 15px;
		padding: 30px 0;
		margin: 10px 100px;
	}
	.footer {
		padding: 15px 50px;
	}

	.footer-title {
		font-size: 10px;
	}

}

@media (max-width:641px){
	header {
		padding: 10px 30px;
	}
	.navigation {
		font-size: 8px;
		padding: 5px 5px;
	}
	.navigation a {
		font-size: 10px;
		padding: 5px 5px;
	}
	.social-icons a{
		font-size: 10px;
	}
	.logo{
		font-size: 15px;
	}
	.title{
		font-size: 1em;
	}
	.end {
		font-size: 15px;
		padding: 30px 0;
		margin: 10px 70px;
	}
	.footer{
		padding: 5px ;
	}
	.footer-title {
		font-size: 10px;
	}
}

@media (max-width:500px){
	header {
		padding: 10px 20px;
	}
	.navigation {
		font-size: 7px;
		padding: 4px;
	}
	.navigation a {
		font-size: 7px;
		padding: 4px ;
	}
	.social-icons a{
		font-size: 7px;
		padding: 2px;
	}
	.logo{
		font-size: 10px;
	}
	.title {
		font-size: 1em;
		font-weight: 800;
		margin-bottom: 20px;
	}
	.end {
		font-size: 15px;
		padding: 30px 0;
		margin: 10px 50px;
	}
	.icon{
		font-size: 5em;
	}
	.footer {
		font-size: 10px;
	}

}